{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-plus">​</span>​ Create a database server <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {% for p in plugins %}
      <li><a href="{{url_for('add', dbtype=p)}}">Create a <strong>{{p|capitalize}}</strong> server</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><!-- Select --></th>
        <th>#</th>
        <th>Type</th>
        <th>Name</th>
        <th>IP</th>
        <th>Database port</th>
        <th>Pulse</th>
        <th>Running</th>
        <th>Status</th>
        <th><!-- Actions --></th>
      </tr>
    </thead>
    <tbody>
      {% for c in containers  %}
        <tr>
          <td><input type="checkbox" id="{{c.id}}" 
            {% if c.get('running', False) %}class="checkbox-server-up">{% endif %}
          </td>
          <td>{{c.get('id', '')}}</td>
          <td>{{c.get('type', '')}}</td>
          <td>{{c.get('name', '')}}</td>
          <td>{{c.get('ip', '')}}</td>
          <td>{{c.get('db_port', '')}}</td>
          <td id="pulse-{{c.id}}">
            {% if c.get('running', False) %}
              <span class="label label-warning">Checking...</span>
            {% endif %}
          </td>
          <td>
            {% if c.get('running', False) %}
              <span class="label label-success">Running</span>
            {% else %}
              <span class="label label-danger">Not running</span>
            {% endif %}
          </td>
          <td>{{c.get('status', '')}}</td>
          <td>
            {% if c.get('running', False) %}
              <a href="/stop/{{c.id}}" onclick="return areyousure();" title="Stop container">
                <i class="glyphicon glyphicon-stop">​</i>​
              </a>
            {% else %}
              <a href="/start/{{c.id}}" title="Start container">
                <i class="glyphicon glyphicon-play">​</i>​
              </a>
              <a href="/remove/{{c.id}}" onclick="return areyousure();" title="Remove container">
                <i class="glyphicon glyphicon-trash">​</i>​
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}