<!DOCTYPE html>
<html>
  <head>
    <title>Docker Databases As A Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='components/bootstrap-glyphicons/css/bootstrap-glyphicons.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>

    <!-- <div class="container"> -->
    <div class="navbar">
      <a class="navbar-brand" href="#">dbaas</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="http://blog.bulte.net" target="_blank">About the author</a></li>
      </ul>
      {% if mem_total %}
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="#">
            RAM: {{ '%sM / %sM (%s' % (mem_available, mem_total, mem_percent) + '% free)' }} | LOAD: {{load}}
          </a>
        </li>
      </ul>
      {% endif %}
    </div>
    
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <!-- </div> -->
    <footer class="footer">
      &copy; <a href="www.bulte.net">bulté.net</a> 2013
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='components/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>